span:hover {
    background-color: red;
    transition: background-color 3s linear;
}

head {
background-color:black;
}

main {
background-color: aquamarine;
}

footer {
    background-color:peru;
}

h1 {
  color:purple;
  text-align:center;
}

h1:hover {
background-image:linear-gradient(to right, purple, pink);
}

h2 {
  color:blue;
}

img:hover {
border: 10px double darkblue;
}

img {
    width: 100px;
    height: 200px;
}

.container img {
opacity: 0.2;
}

.container img:hover {
opacity: 1;
margin: 25px;
}
